<% if @book.errors.any? %>
  <%= @book.errors.count %> errors prohibited this book from being saved:
  <ul>
    <% @book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<h1>Editing Book</h1>
<%= form_with model: @book do |f| %>

  <div class="form-box">
    <p class="form-text">Title</p>
    <%= f.text_field :title %>
  </div>
  <div class="form-box">
    <p class="form-text">Body</p>
    <%= f.text_area :body %>
  </div>
    <%= f.submit 'Update Book' %>

<% end %>

<div class="link-content">
  <span class="edit-link1">
    <%= link_to "Show", book_path(@book.id) %>
  </span>
  <span class="edit-link2">
    <%= link_to "Back", '/books' %>
  </span>
</div>